html {
  scroll-behavior: smooth;
}
body {
    background: white;
    margin: 0;
    padding: 0;
}

.background {
    background: url(img/azalea-background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 1.5rem;
    z-index: 9;

    a {
      text-decoration: none;
      color: #845E67;
      transition: color 0.3s ease;
    }
    img {
        width: 50px;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 10px;
        right: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    #menuToggle span {

        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #845E67;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }


    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 600px;
        margin: -100px 0 0 -600px;
        padding: 50px;
        padding-top: 100px;
        background: #ffffff;
        opacity: 0.7;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li {
        padding: 10px;
        font-size: 30px;
        text-align: right
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
}


.background {
    background: url(img/azalea-background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.head {
    position: absolute;
    top: 30vh;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: white;
            font-family: "Trirong", serif;
            font-size: 4rem;
            margin: .3rem;
        }

        h4 {
            color: white;
            font-size: 1.5rem;
        }
        hr {
            color: white;
            width: 16rem;
        }
    }
    #arrow {
        width: 50px;
        margin: 8rem 0 0 0;
    }
}

.container {
    .pic1 {
        background: url(img/caring-one.jpg);
        margin-top: 6rem;
    }
    
    .pic2 {
        background: url(img/water.jpg);
    }

    .pic1, .pic2 {
        height: 10rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
    }

    .textholder{
        width: 80%;
        margin: auto;

        p {
            font-size: .8rem;
        }


    h2{
        font-family: Roboto;
        margin: 2rem 0 .5rem 0;
        font-weight: bold;
    }

    p{
        font-family: Trirong;
        }

}
}

@media (min-width:768px) {

    #menuToggle span{
        display: none;
        visibility: hidden;
        margin-left: -999px;
    }

    #menu li{
        display: inline;
        border: 1px solid #845E67;
        margin: .3rem;
        float: right;
    }

    .container {
        margin-top: 3rem;

        .first-block, .second-block {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 3rem;
            margin: 3rem;
            
            .pic1{
                order: 2;
            }
        }

        .pic1 {
            background: url(img/caring-one.jpg);
            margin-top: 6rem;
        }
        
        .pic2 {
            background: url(img/water.jpg);
            
        }
    
        .pic1, .pic2 {
            height: 45vw;
            width: 30vw;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
        }

        .textholder{
            width: 50vw;
            padding: 0;
            margin: 0 0 2rem 0;
        }

        #textholder2{
            float: left;
        }

    }

}

@media (min-width:992px) {
    .container {
        margin: 6.5rem 10vw; 

        .pic1, .pic2 {
            margin: 1rem;
        }

        .textholder {
            width: 30vw;
            margin: 1rem;

            p {
                font-size: 1rem;
            }
        }
    }
}


/// home-page
.content {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: all ease 1s;

  .headline {
    background: url(img/monstera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    position: relative;
    width: 80vw;
    height: 50vw;

    h2 {
      position: absolute;
      bottom: -8vw;
      left: -3vw;
      font-size: 2.8rem;
      text-decoration: underline;
    }
  }
  .text {
    width: 70vw;
    margin-top: 30px;

    p {
      font-size: 1.2rem;
    }
  }
}


@media (min-width:768px) {
  .content {
    .headline {
      margin: 5rem;
    }

    .text {
      width: 80vw;
      display: flex;
      margin-top: -30px;
    }
  }
}

@media (min-width:992px) {
  .content {
    display: flex;
    margin-top: 3rem;
    position: relative;

    .headline {
      align-self: left;
      width: 40vw;
      height: 60vw;
      margin-right: 35vw;

      h2 {
        width: 37vw;
        bottom: 25vw;
        left: 35vw;
        font-size: 3.8rem;
      }
    }
    .text {
      flex-direction: column;
      position: absolute;
      left: 60vw;
      bottom: 8vw;
      width: 30vw;
    }
  }
}

/*image-gallery*/
.gallery {
    display: flex;
    font-family: "Trirong", serif;
    margin: 6rem 0 0 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .card {
        background-color: #EEF3E8;
        margin: 0 20px 0 0;

        .box {
            font-size: 12px;
            margin: 5px;
            text-align: center;

            h1 {
                font-size: 18px;
                margin: 0;
            }

            h3 {
                font-style: italic;
                font-weight: normal;
                margin: 0;
            }

            h4 {
                font-weight: normal;
                margin: 1rem 1rem 0 1rem;
                text-align: left;
            }
        }
        img {
            height: 45vh;
            width: 65vw;
            scroll-snap-align: center;
        }
    }
}

@media (min-width:768px) {
    .gallery {
        margin: 10rem 0 0 0;
        display: flex;
        font-family: "Trirong", serif;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        .card {
            margin: 0 75px 0 0;

            .box {
                margin: 5px 0 30px 0;
                
                h1 {
                    font-size: 25px;
                }
                
                h4 {
                    display: none;
                }
            }
            img {
                height: 65vh;
                scroll-snap-align: none;
            }
        }
    }
}
/// footer
footer {
  display: none;
  justify-content: space-between;
  background: #E8E4DC;
  width: 100%;

  p {
    font-family: "Roboto", sans-serif;
    font-size: .8rem;
  }
}

@media (min-width:768px) {
  footer {
    display: flex;
  }
}
