html {
  scroll-behavior: smooth;
}

body {
  background: white;
  margin: 0;
  padding: 0;
}

.background {
  background: url(img/azalea-background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 1.5rem;
  z-index: 9;
}

nav a {
  text-decoration: none;
  color: #845E67;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

nav img {
  width: 50px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #845E67;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 600px;
  margin: -100px 0 0 -600px;
  padding: 50px;
  padding-top: 100px;
  background: #ffffff;
  opacity: 0.7;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px;
  font-size: 30px;
  text-align: right;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.background {
  background: url(img/azalea-background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.head {
  position: absolute;
  top: 30vh;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .main h1 {
  color: white;
  font-family: "Trirong", serif;
  font-size: 4rem;
  margin: .3rem;
}

.head .main h4 {
  color: white;
  font-size: 1.5rem;
}

.head .main hr {
  color: white;
  width: 16rem;
}

.head #arrow {
  width: 50px;
  margin: 8rem 0 0 0;
}

.container img {
  height: 10rem;
  width: 100%;
  margin-top: 5rem;
}

.container .textholder {
  width: 80%;
  margin: auto;
}

.container .textholder h2 {
  font-family: Roboto;
  margin: 2rem 0 .5rem 0;
  font-weight: bold;
}

.container .textholder p {
  font-family: Trirong;
}

@media (min-width: 768px) {
  #menu toggle {
    width: 800px;
  }
  #menu {
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -115px;
    display: inline;
    background: none;
  }
  ul#menu li {
    display: inline;
    float: right;
    border: 3px solid #845E67;
    margin: 1rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #menuToggle span {
    display: none;
    visibility: hidden;
    margin-left: -999px;
  }
  .container {
    margin-top: 3rem;
  }
  .container img {
    width: 40%;
    height: 400px;
    float: left;
    clear: both;
    padding: 1rem;
  }
  .container #caringpic2 {
    float: right;
  }
  .container .textholder {
    width: 40%;
    float: right;
    padding: 2rem;
    margin-top: 3rem;
  }
  .container #textholder2 {
    float: left;
  }
}

.content {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.content .headline {
  background: url(img/monstera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 80vw;
  height: 50vw;
}

.content .headline h2 {
  position: absolute;
  bottom: -8vw;
  left: -3vw;
  font-size: 2.8rem;
  text-decoration: underline;
}

.content .text {
  width: 70vw;
  margin-top: 30px;
}

.content .text p {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .content .headline {
    margin: 5rem;
  }
  .content .text {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -30px;
  }
}

@media (min-width: 992px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    position: relative;
  }
  .content .headline {
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
    width: 40vw;
    height: 60vw;
    margin-right: 35vw;
  }
  .content .headline h2 {
    width: 37vw;
    bottom: 25vw;
    left: 35vw;
    font-size: 3.8rem;
  }
  .content .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 60vw;
    bottom: 8vw;
    width: 30vw;
  }
}

/*image-gallery*/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Trirong", serif;
  margin: 6rem 0 0 0;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.gallery .card {
  background-color: #EEF3E8;
  margin: 0 20px 0 0;
}

.gallery .card .box {
  font-size: 12px;
  margin: 5px;
  text-align: center;
}

.gallery .card .box h1 {
  font-size: 18px;
  margin: 0;
}

.gallery .card .box h3 {
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

.gallery .card .box h4 {
  font-weight: normal;
  margin: 1rem 1rem 0 1rem;
  text-align: left;
}

.gallery .card img {
  height: 45vh;
  width: 65vw;
  scroll-snap-align: center;
}

@media (min-width: 768px) {
  .gallery {
    margin: 10rem 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Trirong", serif;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .gallery .card {
    margin: 0 75px 0 0;
  }
  .gallery .card .box {
    margin: 5px 0 30px 0;
  }
  .gallery .card .box h1 {
    font-size: 25px;
  }
  .gallery .card .box h4 {
    display: none;
  }
  .gallery .card img {
    height: 65vh;
    scroll-snap-align: none;
  }
}

footer {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #E8E4DC;
  width: 100%;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
}

@media (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */